.o1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    .i1{
        text-align: center;
        text-decoration: none;
        color: #0ba7a7;
        padding: 5px;
        display: flex;
        justify-content: center;
        width: 300px;
        flex-wrap: wrap;
        transition: all ease 0.2s;
        border-radius: 15px;
        img{
            width: 100%;
            margin-bottom: 20px;
            padding: 20px;
        }
        h3{
            font-size: 24px;
            margin: 0px 0px 10px 0px;
            font-weight: bold;
            padding: 20px;
            transition: all ease 0.2s;
        }
    }
    .i1:hover{
        /* border: solid #0ba7a7 5px; */
        width: 305px;
        box-shadow: #0c9c9c 0px 0px 12px;
        
        h3{
            text-shadow: #4b4b4b 2px 2px 2px;
            
        }
    }
    
}


.crear{
    border: solid 2px #4b4b4b;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 2px 2px 2px;
    margin-bottom: 30px;
    background: #fdfdfd;
    h2{
        text-align: center;
        width: 100%;
        padding: 10px 0px 10px 0px;
        background: #0ba7a7;
        border-radius: 10px;
        color: #f0f9ee;
    }
    form{
        width: 90%;
        .f1{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0px;
            
            .rp-nombre{
                width: 20%;
                input{
                    width: 100%;
                }
            }
            .rp-a_paterno{
                width: 20%;
                input{
                    width: 100%;
                }
            }

            .rp-a_materno{
                width: 20%;
                input{
                    width: 100%;
                }
            }

            .rp-dni{
                width: 20%;
                input{
                    width: 100%;
                }
            }
            
        }
        .f2{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0px;
            align-items: center;

            .rp-dni_img{
                width: 30%;

                .dni_img_box{
                    display: flex;
                    justify-content: space-around;
                    border: solid 1px #0ba7a7;
                    border-radius: 5px;

                    .dni_img_subbox{
                        width: 40%;
                        margin: 5px;
                        display: flex;
                        flex-wrap: wrap;
                        text-align: center;
                        
                        input{
                            width: 96%;
                            margin: auto;
                        }
                    }
                    
                    .img_prev_box{
                        padding: 5px;
                        text-align: center;
                        width: 58%;
                        img{
                            width: 100%;
                            max-width: 200px;
                            max-height: 150px;
                            margin-bottom: 10px;
                            border-radius: 10px;
                        }

                        button{
                            background: red;
                            color: white;
                            padding: 5px 10px;
                            border-radius: 5px;
                            box-shadow: 2px 2px 2px rgb(133, 0, 0);
                        }
                        button:hover{
                            background: #fa5a5a;
                        }
                    }
                }
                
            }

            .rp-f_nacimiento{
                width: 15%;
                input{
                    width: 100%;
                }
            }

            .rp-edad{
                width: 10%;
                input{
                    width: 100%;
                }
            }
            .rp-celular{
                width: 15%;
                input{
                    width: 100%;
                }
            }

            .rp-nro_emergencia{
                width: 15%;
                input{
                    width: 100%;
                }
            }
        }

        .f3{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0px;

            .rp-pais{
                width: 20%;
                select{
                    width: 100%;
                }
            }

            .rp-region{
                width: 20%;
                select{
                    width: 100%;
                }
            }
            .rp-provincia{
                width: 20%;
                select{
                    width: 100%;
                }
            }
            .rp-distrito{
                width: 20%;
                select{
                    width: 100%;
                }
            }
        }

        .f4{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0px;

            

            .rp-sexo{
                width: 10%;
                input{
                    width: 100%;
                }
            }

            .rp-e_civil{
                width: 10%;
                input{
                    width: 100%;
                }
            }
            .rp-direccion{
                width: 30%;
                input{
                    width: 100%;
                }
            }
            .rp-t_polo{
                width: 10%;
                input{
                    width: 100%;
                }
            }
            .rp-t_pantalon{
                width: 10%;
                input{
                    width: 100%;
                }
            }
            .rp-t_zapato{
                width: 10%;
                input{
                    width: 100%;
                }
            }
        }

        .f5{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 20px 0px;

            .rp-email{
                width: 20%;
                input{
                    width: 100%;
                }
            }

            .rp-f_ingreso{
                width: 15%;
                input{
                    width: 100%;
                }
            }
            .rp-cuenta_corriente{
                width: 15%;
                input{
                    width: 100%;
                }
            }

            .rp-cci{
                width: 15%;
                input{
                    width: 100%;
                }
            }

            .rp-estado{
                width: 15%;
                input{
                    width: 100%;
                }
            }     
        }
    }
}

.mostrar{
    width: 100%;
    border-radius: 10px;
    background: white;
    padding: 0px 10px 10px 10px;
    border: #4b4b4b solid 1px;
    box-shadow: 2px 2px 10px #4b4b4b;
    h2{
        text-align: center;
        margin: 20px 0px 40px 0px;
        text-decoration: underline;
    }
    .exportButton{
        display: flex;
        justify-content: space-between;
        background:#0c9c9c;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 10px 0px;
        border: #4b4b4b 1px solid;
        box-shadow: 2px 2px 2px #4b4b4b;

        svg{
            margin-left: 5px;
        }
    }
    .exportButton:hover{
        background: #0ba7a7;
    }
    table{
        width: 100%;
        text-align: center;

        thead{
            tr{
                th{
                    border-bottom: solid 2px;
                    font-weight: bold;
                    font-size: 15px;
                    cursor: pointer;
                }
                .cm-id{
                    width: 5%;
                }
                .cm-nombre{
                    width: 75%;
                }
                .cm-opciones{
                    width: 20%;
                }




                .m-id{
                    width: 5%;
                    cursor: pointer;
                }

                .m-codigo{
                    cursor: pointer;
                }
                
                .m-nombre{
                    width: 20%;
                    cursor: pointer;
                }

                .m-categoria{
                    cursor: pointer;
                }

                .m-umedida{
                    cursor: pointer;
                }

                .m-cantidad{
                    cursor: pointer;
                }

                .m-opciones{
                    width: 20%;
                }
            }
            
        }

        tbody{
            td{
                font-size: 12px;
                padding: 5px 0px;
                
                
            }
            .m-btn{
                display: flex;
                justify-content: space-around;
                
            }
        }
    }
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.detalle-usuario {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    max-height: 90%;
    overflow-y: auto;

    h2{
        text-align: center;
        text-decoration: underline;
    }

    form{
        width: 100%;
        .m-f1{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0px;
            
            .eu-nombre{
                width: 20%;
                input{
                    width: 100%;
                }
            }
            .eu-a_paterno{
                width: 20%;
                input{
                    width: 100%;
                }
            }
            .eu-a_materno{
                width: 20%;
                input{
                    width: 100%;
                }
            }

            .eu-dni{
                width: 20%;
                input{
                    width: 100%;
                }
            }
        }
        .m-f2{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0px;

            .eu-dni_img{
                width: 55%;
                .dni_img_box{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    border: solid 1px #0ba7a7;
                    border-radius: 10px;
                    padding: 5px 0px;

                    .dni_img_subbox{
                        display: flex;
                        flex-wrap: wrap;
                        width: 38%;
                        input{
                            width: 100%;
                            margin: auto 0px;
                        }
                        small{
                            width: 100%;
                            text-align: center;
                        }
                    }

                    .image-preview-container{
                        text-align: center;
                        .image-preview{
                            max-width: 200px;
                            max-height: 150px;
                            margin-bottom: 10px;
                            border: 1px solid #ddd;
                            border-radius: 4px;
                        }
                        button{
                            background: #ff4444;
                            color: white;
                            border: none;
                            padding: 5px 10px;
                            border-radius: 4px;
                            cursor: pointer;
                            margin-bottom: 10px;
                            
                        }
                    }

                }

            }

            .eu-f_nacimiento{
                width: 16%;
                input{
                    width: 100%;
                }
            }

            .eu-edad{
                width: 8%;
                input{
                    width: 100%;
                }
            }
        }

        .m-f3{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0px;

            .eu-f_ingreso{
                width: 20%;
                input{
                    width: 100%;
                }
            }

            .eu-email{
                width: 35%;
                input{
                    width: 100%;
                }
            }

            .eu-pais{
                width: 30%;
                select{
                    width: 100%;
                }
            }
        }

        .m-f4{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0px;

            .eu-region{
                width: 30%;
                select{
                    width: 100%;
                }
            }
            .eu-provincia{
                width: 30%;
                select{
                    width: 100%;
                }
            }
            .eu-distrito{
                width: 30%;
                select{
                    width: 100%;
                }
            }
        }

        .m-f5{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0px;

            .eu-direccion{
                width: 40%;
                input{
                    width: 100%;
                }
            }

            .eu-celular{
                width: 20%;
                input{
                    width: 100%;
                }
            }

            .eu-nro_emergencia{
                width: 20%;
                input{
                    width: 100%;
                }
            }
        }


        .m-f6{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0px;

            .eu-sexo{
                width: 16%;
                input{
                    width: 100%;
                }
            }

            .eu-e_civil{
                width: 16%;
                input{
                    width: 100%;
                }
            }

            .eu-t_polo{
                width: 11%;
                input{
                    width: 100%;
                }
            }
            .eu-t_pantalon{
                width: 11%;
                input{
                    width: 100%;
                }
            }
            .eu-t_zapato{
                width: 11%;
                input{
                    width: 100%;
                }
            } 
        }

        .m-f7{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0px;

            .eu-cuenta_corriente{
                width: 30%;
                input{
                    width: 100%;
                }
            }

            .eu-cci{
                width: 30%;
                input{
                    width: 100%;
                }
            }

            .eu-estado{
                width: 15%;
                input{
                    width: 100%;
                }
            }
        }

        .eu-btn{
            display: flex;
            margin: 30px 0px 10px 0px;
            justify-content: center;

            button{
                margin: 0px 20px 0px 20px;
            }
        }
    }
}

