
.pcampoRegister{
    width: 25%;
    border-radius: 10px;
    padding: 10px 20px;
    background: white;
    border: #4b4b4b solid 1px;
    box-shadow: 2px 2px 10px #4b4b4b;

    h3{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 30px;
        text-decoration: underline;
    }
}

form{
    .formgroup{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 20px;
        label{
            font-size: 18px;
        }
        select{
            width: 100%;
            font-size: 16px;
            padding: 5px 5px;
            border: solid 1px #248c84;
            border-radius: 5px;
        }
        input{
            width: 100%;
            font-size: 16px;
            padding: 5px 5px;
            border: solid 1px #248c84;
            border-radius: 5px;
        }

        .btnguardar{
            box-shadow: #0ea71b 2px 2px 2px;
        }

        .btnguardar:hover{
            background: #12cc21;
        }

        .imgbox{
            border: #248c84 solid 1px;
            border-radius: 5px;
            padding: 5px;
            .imgsubox{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                input{
                    border: none;
                }
                small{
                    margin: 8px 0px;
                }
            }
            .img_prev_box{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                img{
                    border: solid 1px ;
                    width: 95%;
                }
                .btnDelete{
                    background: rgb(219, 66, 66);
                    color: white;
                    border-radius: 5px;
                    padding: 5px 8px;
                    margin: 10px 0px;
                }
                .btnDelete:hover{
                    background: rgba(229, 105, 105, 0.829);
                }
            }
        }
    }

    .separator{
        margin: 0px 0px 10px 0px;
    }
    h4{
        text-align: center;
        margin-bottom: 10px;
    }

    .modalbtngroup{
        display: flex;
        justify-content: center;
    }
}

.pcampolist{
    width: 70%;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    background: white;
    border: #4b4b4b solid 1px;
    box-shadow: 2px 2px 10px #4b4b4b;

    .rangolisttitle{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin: 30px 0px;
        text-decoration: underline;
    }

    table{
        width: 100%;
        text-align: center;

        thead{
            tr{
                th{
                    border-bottom: solid 2px;
                    font-weight: bold;
                    font-size: 15px;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    .detallepcampo {
        width: 500px;
        height: 90%;
        overflow-y: scroll;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


        h2{
            text-align: center;
            text-decoration: underline;
        }

        .formgroup{
            .imgbox{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .img_prev_box{
                    width: 50%;
                }
            }
        }

        .modalbtngroup{
            display: flex;
            margin: 30px 0px 10px 0px;
            justify-content: center;

            .saveBtn{
                margin: 0px 20px 0px 20px;
                color: white;
                background: #0ea71b;
                box-shadow: #144d48 2px 2px 2px;
                border-radius: 5px;
                padding: 5px;
            }
            .saveBtn:hover{
                background: #12cc21;
            }
            .closeBtn{
                margin: 0px 20px 0px 20px;
                color: white;
                background: #7e7e7e;
                box-shadow: #144d48 2px 2px 2px;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
    
    .modal-open .modal {
        pointer-events: all;
    }
}

.modal-open .detalle-cat {
    pointer-events: all; /* Asegura la interacción dentro del modal */
}