<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Personal - {{personal.nombre}} {{personal.a_paterno}}</title>
    <link rel="stylesheet" href="./ficha.css">
    <style>
        body { font-family: sans-serif; margin: 20px; margin: 0; padding: 0;}
        h1 { color: #333; border-bottom: 1px solid #ccc; padding-bottom: 5px; text-align: center; font-size: 30px;}
        h2 { color: #333; border-bottom: 1px solid #ccc; padding-bottom: 5px; font-size: 23px;}
        .section { margin-bottom: 30px; }
        .img-section{ display: flex; flex-wrap: wrap; justify-content: space-between;}
        .label { font-weight: bold; display: inline-block; width: 150px; font-size: 14px; }
        .value { display: inline-block; font-size: 12px;}
        img { max-width: 350px; max-height: 350px; border: 1px solid #ddd; margin-top: 10px; }
    </style>
</head>
<body>
    <h1>FICHA PERSONAL</h1>
    <div class="section">
        <h2>Datos Personales</h2>
        <p><span class="label">Nombre Completo:</span> <span class="value">{{ personal.nombre | default:"" }} {{ personal.a_paterno | default:"" }} {{ personal.a_materno | default:"" }}</span></p>
        <p><span class="label">DNI:</span> <span class="value">{{ personal.dni | default:"N/A" }}</span></p>
        <!-- {% if dni_img_url %}
            <p><span class="label">Imagen DNI:</span></p>
            <img src="{{ dni_img_url }}" alt="DNI">
        {% endif %} -->
        <p><span class="label">Fecha Nacimiento:</span> <span class="value">{{ personal.f_nacimiento|date:"d/m/Y" | default:"N/A" }}</span></p>
        <p><span class="label">Edad:</span> <span class="value">{{ personal.edad_calculada | default:"N/A" }}</span></p>
        <p><span class="label">Email:</span> <span class="value">{{ personal.email | default:"N/A" }}</span></p>
        <p><span class="label">Celular:</span> <span class="value">{{ personal.celular | default:"N/A" }}</span></p>
        <p><span class="label">N° Emergencia:</span> <span class="value">{{ personal.nro_emergencia | default:"N/A" }}</span></p>
        <p><span class="label">Dirección:</span> <span class="value">{{ personal.direccion | default:"N/A" }}</span></p>

        <p><span class="label">País:</span> <span class="value">{{ personal.pais.nombre | default:"N/A" }}</span></p>
        <p><span class="label">Región:</span> <span class="value">{{ personal.region.nombre | default:"N/A" }}</span></p>
        <p><span class="label">Provincia:</span> <span class="value">{{ personal.provincia.nombre | default:"N/A" }}</span></p>
        <p><span class="label">Distrito:</span> <span class="value">{{ personal.distrito.nombre | default:"N/A" }}</span></p>

        <p><span class="label">Sexo:</span> <span class="value">{{ personal.sexo | default:"N/A" }}</span></p>
        <p><span class="label">Estado Civil:</span> <span class="value">{{ personal.e_civil | default:"N/A" }}</span></p>
        <p><span class="label">Tallas:</span> <span class="value">Polo: {{ personal.t_polo | default:"-" }}, Pantalón: {{ personal.t_pantalon | default:"-" }}, Zapato: {{ personal.t_zapato | default:"-" }}</span></p>
        <p><span class="label">Cuentas:</span> <span class="value">Cta: {{ personal.cuenta_corriente | default:"N/A" }}, CCI: {{ personal.cci | default:"N/A" }}</span></p>
        <p><span class="label">Fecha Ingreso:</span> <span class="value">{{ personal.f_ingreso|date:"d/m/Y" | default:"N/A" }}</span></p>
        <p><span class="label">Estado Actual:</span> <span class="value">{{ personal.estado | default:"N/A" }}</span></p>
    </div>

    {% if pcampo %}
    <div class="section">
        <h2>Datos de Campo</h2>
        <p><span class="label">Gremio:</span> <span class="value">{{ pcampo.gremio.nombre | default:"N/A" }}</span></p>
        <p><span class="label">Rango:</span> <span class="value">{{ pcampo.rango.nombre | default:"N/A" }}</span></p>
        <p><span class="label">Estado RETCC:</span> <span class="value">{{ pcampo.retcc_estado | default:"N/A" }}</span></p>
        <!-- {% if retcc_img_url %}
            <p><span class="label">Imagen RETCC:</span></p>
            <img src="{{ retcc_img_url }}" alt="RETCC">
        {% endif %} -->

        {#{% if pcampo.gremio.nombre|lower|includes:"casa" %}#}
        {% if pcampo.gremio and 'casa' in pcampo.gremio.nombre|lower %}
            <h3>Datos Específicos (Casa)</h3>
            <p><span class="label">RUC:</span> <span class="value">{{ pcampo.ruc | default:"N/A" }}</span></p>
            <p><span class="label">Clave SOL:</span> <span class="value">{{ pcampo.c_sol | default:"N/A" }}</span></p>
            <p><span class="label">Recomendado por:</span> <span class="value">{{ pcampo.srecomendado.user.username | default:"N/A" }}</span></p>
        {% endif %}

        {#{% if pcampo.gremio.nombre|lower|includes:"sindicato" %}#}
        <!-- {% if pcampo.gremio and 'sindicato' in pcampo.gremio.nombre|lower %}
             <h3>Datos Específicos (Sindicato)</h3>
             {% if sdni_img_hijo_url %}
                <p><span class="label">Imagen DNI Hijo:</span></p>
                <img src="{{ sdni_img_hijo_url }}" alt="DNI Hijo">
             {% else %}
                 <p><span class="label">Imagen DNI Hijo:</span> <span class="value">No registrada</span></p>
             {% endif %}
        {% endif %} -->
    </div>
    {% endif %}

    {% if staff %}
    <div class="section">
        <h2>Datos de Staff</h2>
        <p><span class="label">Usuario Sistema:</span> <span class="value">{{ staff.user.username | default:"N/A" }}</span></p>
        <p><span class="label">Cargo:</span> <span class="value">{{ staff.cargo | default:"N/A" }}</span></p>
        <p><span class="label">Remuneración:</span> <span class="value">S/. {{ staff.rm | default:"0.00" }}</span></p>
    </div>
    {% endif %}

    <div class="section">
        <h2>Documentos Presentados</h2>
        <div class="img-section">
            {% if dni_img_url %}
                <div>
                    <p><span class="label">Imagen DNI:</span></p>
                    <img src="{{ dni_img_url }}" alt="DNI">
                </div>
            {% endif %}
            {% if pcampo %}
                {% if retcc_img_url %}
                    <div>
                        <p><span class="label">Imagen RETCC:</span></p>
                        <img src="{{ retcc_img_url }}" alt="RETCC">
                    </div>
                {% endif %}
            {% endif %}
            {% if pcampo.gremio and 'sindicato' in pcampo.gremio.nombre|lower %}
                <div>
                    <h3>Datos Específicos (Sindicato)</h3>
                    {% if sdni_img_hijo_url %}
                        <p><span class="label">Imagen DNI Hijo:</span></p>
                        <img src="{{ sdni_img_hijo_url }}" alt="DNI Hijo">
                    {% else %}
                        <p><span class="label">Imagen DNI Hijo:</span> <span class="value">No registrada</span></p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        
    </div>

    <hr>
    <p style="font-size: 0.8em; text-align: center;">Documento generado el {% now "d/m/Y H:i" %}</p>
    <p style="font-size: 0.8em; text-align: center;">[Declaro que la información proporcionada es veraz y autorizo su tratamiento...]</p> {# Texto legal si aplica #}
</body>
</html>